# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data / local databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log
